@layout('main')
@section('content')
    <h1>{{ title }}</h1>
    @if(old('notification'))
        <div class="alert alert-info">
            {{ old('notification') }}
        </div>
    @endif
    <div class="alert"></div>
    <ul class="list-group">
        @each(post in posts)
        <li class="list-group-item">
            <a href="/posts/{{post.id}}"> {{ post.title }} </a>
        </li>
        @endeach
    </ul>
@endsection